<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./assets/style.css">
    <!-- <style type="text/tailwindcss">
      

    </style> -->
    <title>Vue 3 Formation</title>
</head>


<body>

    <div id="app">
        <!-- User Card -->
        <user-card></user-card>
        <!-- Posts list -->
        <posts-list v-if="posts.length" :posts="posts" @on-edit="editPost($event)" @on-delete="removePost($event)">
        </posts-list>
        <div v-else class="no-post">You don't have any Posts</div>

        <form @submit.prevent="addPost">
            <input placeholder="message" type="text" v-model="post.title" />
            <textarea name="body" v-model="post.body" rows="3"></textarea>
            <input type="text" v-model="post.img" placeholder="https://source.unsplash.com/600x300/?space,stars" />
            <p class="form-info">add a keyword of the image you want.</p>
            <button type="submit" class="submit">Submit</button>
        </form>
    </div>

    <script src="app.js"></script>
    <script src="./components/UserCard.js"></script>
    <script src="./components/PostsList.js"></script>
    <script>
        app.mount('#app')
    </script>
</body>

</html>